* {
	padding: 0;
	margin: 0
}
body {
	padding: 20px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12pt
}
h1 {
	padding-bottom: 10px
}
ul, dl {
	list-style: none
}
dt {
	font-weight: bold;
	margin-bottom: 10px;
}
dd {
	margin-bottom: 20px;
}
form {
	width: 380px;
	float: left;
	background: #BDBDBD;
	padding: 10px
}
li {
	width: 380px;
	height: 20px;
	padding: 5px 0;
}
input[type=text] {
	display: block;
	width: 200px;
	height: 16px;
	float: right
}
input[type=submit] {
	display: block;
	width: 80px;
	height: 20px;
	margin: 0 auto
} 
label {
	display: block;
	padding-left: 20px;
	float: left
}
#map {
	margin-left: 380px;
	height: 440px
}
